---
import { type CollectionEntry } from "astro:content";

import Footer from "../Footer.astro";
import Header from "../Header.astro";
import BaseHead from "../BaseHead.astro";
import PostList from "../blog/PostList.astro";
import ProjectList from "../projects/ProjectList.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../../consts";
import type { UnionLangsType } from "../../utils/i18n/i18n";
import { useTranslations } from "../../utils/i18n/useTranslations";

type Props = PropsBlog | PropsProjects;

type PropsBlog = {
  contents: CollectionEntry<"blog">[];
  contentsType: "blog";
  tag: string;
};

type PropsProjects = {
  contents: CollectionEntry<"projects">[];
  contentsType: "projects";
  tag: string;
};

const { contents, contentsType, tag } = Astro.props;

const currentLocale = Astro.currentLocale! as UnionLangsType;
const t = useTranslations(currentLocale);
---

<!doctype html>
<html lang={currentLocale}>
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    <style>
      main {
        width: 960px;
      }
    </style>
  </head>
  <body>
    <Header />
    <main>
      <h1>{t("tagDetail.title.first")} "{tag}"</h1>
      <section>
        {
          contentsType === "blog" && (
            <PostList posts={contents as CollectionEntry<"blog">[]} />
          )
        }
        {
          contentsType === "projects" && (
            <ProjectList projects={contents as CollectionEntry<"projects">[]} />
          )
        }
      </section>
    </main>
    <Footer />
  </body>
</html>
