---
import Header from "../Header.astro";
import Footer from "../Footer.astro";
import BaseHead from "../BaseHead.astro";
import type { UnionLangsType } from "../../utils/i18n/i18n";
import { SITE_DESCRIPTION, SITE_TITLE } from "../../consts";

interface Props {
  tags: string[];
}

const { tags } = Astro.props;

const currentLocale = Astro.currentLocale! as UnionLangsType;
---

<!doctype html>
<html lang={currentLocale}>
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    <style>
      main {
        width: 960px;
      }

      ul {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        list-style-type: none;
        margin: 0;
        padding: 0;
      }

      ul li {
        width: 100%;
        text-align: center;
        align-items: center;
      }

      ul li * {
        transition: 0.2s ease;
        color: rgb(var(--black));
      }

      ul li:hover * {
        color: blue;
      }

      @media (max-width: 720px) {
        ul {
          gap: 0.5em;
        }

        ul li {
          width: 100%;
          text-align: center;
        }

        ul li:first-child {
          margin-bottom: 0;
        }
      }
    </style>
  </head>
  <body>
    <Header />
    <main>
      <section>
        <ul>
          {
            tags.map((tag) => (
              <li>
                <a href={`tags/${tag}`}>{tag}</a>
              </li>
            ))
          }
        </ul>
      </section>
    </main>
    <Footer />
  </body>
</html>
