---
import Header from "../Header.astro";
import Footer from "../Footer.astro";
import BaseHead from "../BaseHead.astro";
import ProjectList from "./ProjectList.astro";
import { getProjects } from "../../utils/getProjects";
import { SITE_DESCRIPTION, SITE_TITLE } from "../../consts";

const currentLocale = Astro.currentLocale!;
const projects = await getProjects(currentLocale);
---

<html lang={currentLocale}>
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    <style>
      main {
        width: 960px;
      }
    </style>
  </head>
  <body>
    <Header />
    <main>
      <section>
        <ul>
          <ProjectList projects={projects} />
        </ul>
      </section>
    </main>
    <Footer />
  </body>
</html>
