---
import type { CollectionEntry } from "astro:content";

import FormattedDate from "../FormattedDate.astro";

interface Props {
  projects: CollectionEntry<"projects">[];
}

const { projects } = Astro.props;
const currentLocale = Astro.currentLocale!;
---

<head>
  <style>
    ul {
      display: flex;
      flex-wrap: wrap;
      gap: 2rem;
      list-style-type: none;
      margin: 0;
      padding: 0;
    }
  
    ul li {
      width: calc(50% - 1rem);
      text-align: center;
    }
  
    ul li * {
      text-decoration: none;
      transition: 0.2s ease;
    }

    ul li:first-child {
      width: 100%;
    }

    .title {
      margin: 0;
      color: rgb(var(--black));
      line-height: 1;
    }

    .date {
      margin: 0;
      color: rgb(var(--gray));
    }

    ul li a:hover h4,
    ul li a:hover .date {
      color: rgb(var(--accent));
    }

    @media (max-width: 720px) {
      ul {
        gap: 0.5em;
      }
      ul li {
        width: 100%;
      }
    }
  </style>
</head>
<ul>
  <!-- {
    projects.map((project) => {
      const [_lang, ...slug] = project.slug.split(`${currentLocale}/`);
      const link = slug.join("/");
      return (
        <li>
          <a href={`/${currentLocale}/projects/${link}`}>
            <h4 class="title">{project.data.title}</h4>
            <p class="date">
              <FormattedDate date={project.data.pubDate} />
            </p>
          </a>
        </li>
      );
    })
  } -->
</ul>
