---
import Project from "../../../layouts/Project.astro";
import { type CollectionEntry } from "astro:content";
import { getStaticPathProjects } from "../../../utils/getStaticPathProjects";

export async function getStaticPaths() {
	return await getStaticPathProjects("en");
}
type Props = CollectionEntry<"projects">;

const post = Astro.props;
const { Content } = await post.render();
---

<Project {...post.data}>
	<Content />
</Project>
