---
import GitlabIcon from "./icons/GitlabIcon.astro";
import type { UnionLangsType } from "../utils/i18n/i18n";
import { useTranslations } from "../utils/i18n/useTranslations";

const currentLocale = Astro.currentLocale! as UnionLangsType;
const t = useTranslations(currentLocale);
const today = new Date();
---

<footer>
	&copy; {today.getFullYear()} Chatenet Ian. {t("footer.copyrights")}
	<div class="social-links">
		<a href="https://gitlab.com/ianchatenet" target="_blank">
			<span class="sr-only">{t("footer.socials.gitlab")}</span>
			<GitlabIcon />
		</a>
	</div>
</footer>
<style>
	footer {
		padding: 2em 1em 6em 1em;
		background: linear-gradient(var(--gray-gradient)) no-repeat;
		color: rgb(var(--gray));
		text-align: center;
	}
	.social-links {
		display: flex;
		justify-content: center;
		gap: 1em;
		margin-top: 1em;
	}
</style>
