---
import { SITE_TITLE } from "../consts";
import LangButton from "./LangButton.astro";
import HeaderLink from "./HeaderLink.astro";
import GitlabIcon from "./icons/GitlabIcon.astro";
import { getRelativeLocaleUrl } from "astro:i18n";
import type { UnionLangsType } from "../utils/i18n/i18n";
import { useTranslations } from "../utils/i18n/useTranslations";

const currentLocale = Astro.currentLocale! as UnionLangsType;
const homeRoute = getRelativeLocaleUrl(currentLocale, "/");
const blogRoute = getRelativeLocaleUrl(currentLocale, "blog");
const projectsRoute = getRelativeLocaleUrl(currentLocale, "projects");

const t = useTranslations(currentLocale);
---

<header>
	<nav>
		<div class="internal-links">
			<HeaderLink href={homeRoute}>{SITE_TITLE}</HeaderLink>
			<HeaderLink href={blogRoute}>{t("header.nav.blog")}</HeaderLink>
			<HeaderLink href={projectsRoute}>{t("header.nav.projects")}</HeaderLink>
		</div>

		<div class="right-side">
			<LangButton />
			<div class="social-links">
				<a href="https://gitlab.com/ianchatenet" target="_blank">
					<span class="sr-only">{t("header.socials.gitlab")}</span>
					<GitlabIcon />
				</a>
			</div>
		</div>
	</nav>
</header>
<style>
	header {
		margin: 0;
		padding: 0 1em;
		background: white;
		box-shadow: 0 2px 8px rgba(var(--black), 5%);
	}
	h2 {
		margin: 0;
		font-size: 1em;
	}

	h2 a,
	h2 a.active {
		text-decoration: none;
	}
	nav {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	nav a {
		padding: 1em 0.5em;
		color: var(--black);
		border-bottom: 4px solid transparent;
		text-decoration: none;
	}
	nav a.active {
		text-decoration: none;
		border-bottom-color: var(--accent);
	}
	.right-side {
		display: flex;
	}
	.social-links,
	.social-links a {
		display: flex;
	}
	@media (max-width: 720px) {
		.social-links {
			display: none;
		}
	}
</style>
