---
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"a">;

const { href, class: className, ...props } = Astro.props;
const { pathname } = Astro.url;

const subHref = href!.toString().match(/[^\/]+/g);

if (!href || !subHref) {
	return;
}

let isActive = false;
if (subHref.length < 2) {
	isActive = href === pathname;
}

if (subHref.length >= 2) {
	isActive = pathname.includes(href.toString());
}
---

<a href={href} class:list={[className, { active: isActive }]} {...props}>
	<slot />
</a>
<style>
	a {
		display: inline-block;
		text-decoration: none;
	}

	a.active {
		font-weight: bolder;
		text-decoration: underline;
	}

	a:hover {
		font-weight: bolder;
	}
</style>
