---
import UKIcon from "./icons/UKIcon.astro";
import FranceIcon from "./icons/FranceIcon.astro";
import { langs, type UnionLangsType } from "../utils/i18n/i18n";

const currentLocale = Astro.currentLocale! as UnionLangsType;
const currentUrl = Astro.url;

const targetLocale = langs.filter((elmt) => elmt !== currentLocale)[0];
const targetUrl = currentUrl.toString().replace(`/${currentLocale}/`, `/${targetLocale}/`);
---

<head>
  <style>
    a {
      padding: 1em 0.5em;
      color: var(--black);
      border-bottom: 4px solid transparent;
      text-decoration: none;
    }
    a:hover {
      cursor:default;
    }
    button {
      font-size: 1em;
      text-transform: uppercase;
      color: black;
      border-radius: 0.5em;
      background-color: #f7f8fb;
    }
    button:hover {
      cursor: pointer;
    }
  </style>
</head>
<a href={targetUrl}>
  <button>
    {targetLocale}
    {targetLocale === "fr" && <FranceIcon />}
    {targetLocale === "en" && <UKIcon />}
  </button>
</a>
