---
import Header from "../Header.astro";
import Footer from "../Footer.astro";
import PostList from "./PostList.astro";
import BaseHead from "../BaseHead.astro";
import { getBlogPosts } from "../../utils/getBlogPosts";
import { SITE_DESCRIPTION, SITE_TITLE } from "../../consts";

const currentLocale = Astro.currentLocale!;
const posts = await getBlogPosts(currentLocale);
---

<html lang={currentLocale}>
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    <style>
      main {
        width: 960px;
      }
    </style>
  </head>
  <body>
    <Header />
    <main>
      <section>
          <PostList posts={posts} />
      </section>
    </main>
    <Footer />
  </body>
</html>
