---
import FormattedDate from "../FormattedDate.astro";
import type { CollectionEntry } from "astro:content";

interface Props {
  posts: CollectionEntry<"blog">[];
}

let { posts } = Astro.props;
const currentLocale = Astro.currentLocale!;
posts = posts.sort((post1, post2) => post2.data.pubDate.getTime() - post1.data.pubDate.getTime())
---

<head>
  <style>
    ul {
      display: flex;
      flex-wrap: wrap;
      gap: 2rem;
      list-style-type: none;
      margin: 0;
      padding: 0;
    }
  
    ul li {
      width: calc(50% - 1rem);
      text-align: center;
    }
  
    ul li * {
      text-decoration: none;
      transition: 0.2s ease;
    }

    ul li:first-child {
      width: 100%;
    }

    .title {
      margin: 0;
      color: rgb(var(--black));
      line-height: 1;
    }

    .date {
      margin: 0;
      color: rgb(var(--gray));
    }

    ul li a:hover h4,
    ul li a:hover .date {
      color: rgb(var(--accent));
    }

    @media (max-width: 720px) {
      ul {
        gap: 0.5em;
      }
      ul li {
        width: 100%;
      }
    }
  </style>
</head>
<ul>
  {
    posts.map((post) => {
      const [_lang, ...postSlug] = post.slug.split(`${currentLocale}/`);
      const link = postSlug.join("/");
      return (
        <li>
          <a href={`/${currentLocale}/blog/${link}`}>
            <h4 class="title">{post.data.title}</h4>
            <p class="date">
              <FormattedDate date={post.data.pubDate} />
            </p>
          </a>
        </li>
      );
    })
  }
</ul>
