<!--?xml version="1.0" encoding="utf-8"?--><!-- License: MIT. Made by vscode-icons: https://github.com/vscode-icons/vscode-icons -->
<svg
  aria-hidden="true"
  width="32"
  height="32"
  viewBox="0 0 32 32"
  xmlns="http://www.w3.org/2000/svg"
  astro-icon="social/github"
>
  <polygon
    points="16 28.896 16 28.896 21.156 13.029 10.844 13.029 16 28.896"
    style="fill:#e24329"></polygon>
  <polygon
    points="16 28.896 10.844 13.029 3.619 13.029 16 28.896"
    style="fill:#fc6d26"></polygon>
  <path
    d="M3.619,13.029h0L2.052,17.851a1.067,1.067,0,0,0,.388,1.193L16,28.9,3.619,13.029Z"
    style="fill:#fca326"></path>
  <path
    d="M3.619,13.029h7.225L7.739,3.473a.534.534,0,0,0-1.015,0L3.619,13.029Z"
    style="fill:#e24329"></path>
  <polygon
    points="16 28.896 21.156 13.029 28.381 13.029 16 28.896"
    style="fill:#fc6d26"></polygon>
  <path
    d="M28.381,13.029h0l1.567,4.822a1.067,1.067,0,0,1-.388,1.193L16,28.9,28.381,13.029Z"
    style="fill:#fca326"></path>
  <path
    d="M28.381,13.029H21.156l3.105-9.557a.534.534,0,0,1,1.015,0l3.105,9.557Z"
    style="fill:#e24329"></path>
</svg>
