---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import BaseHead from "../components/BaseHead.astro";
import type { CollectionEntry } from "astro:content";
import type { UnionLangsType } from "../utils/i18n/i18n";
import FormattedDate from "../components/FormattedDate.astro";
import { useTranslations } from "../utils/i18n/useTranslations";

type Props = CollectionEntry<"blog">["data"];

const {
	title,
	description,
	pubDate,
	updatedDate,
	tags,
} = Astro.props;

const currentLocale = Astro.currentLocale! as UnionLangsType;
const t = useTranslations(currentLocale);
---

<html lang={currentLocale}>
	<head>
		<BaseHead title={title} description={description} />
		<style>
			main {
				width: calc(100% - 2em);
				max-width: 100%;
				margin: 0;
			}

			.prose {
				width: 720px;
				max-width: calc(100% - 2em);
				margin: auto;
				padding: 1em;
				color: rgb(var(--gray-dark));
			}

			.header {
				margin-bottom: 2em;
				padding: 0 0;
				text-align: center;
				line-height: 1;
			}

			.title h1 {
				margin: 0;
			}

			.date {
				margin-bottom: 0.5em;
				color: rgb(var(--gray));
			}

			.tags-container {
				display: flex;
				justify-content: space-evenly;
			}

			.last-updated-on {
				font-style: italic;
			}
		</style>
	</head>
	<body>
		<Header />
		<main>
			<article>
				<div class="prose">
					<div class="header">
						<h1>{title}</h1>
						<div class="date">
							<FormattedDate date={pubDate} />
							{
								updatedDate && (
									<div class="last-updated-on">
										{t("blogPost.lastUpdated") + " "}
										<FormattedDate date={updatedDate} />
									</div>
								)
							}
						</div>
						<div class="tags-container">
							{
								tags.map((tag) => (
									<a href={`/${currentLocale}/blog/tags/${tag}/`}>{tag}</a>
								))
							}
						</div>
					</div>

					<slot />
				</div>
			</article>
		</main>
		<Footer />
	</body>
</html>
