---
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import BaseHead from "../components/BaseHead.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";
import type { UnionLangsType } from "../utils/i18n/i18n";
import { useTranslations } from "../utils/i18n/useTranslations";

const currentLocale = Astro.currentLocale! as UnionLangsType;
const t = useTranslations(currentLocale);
---

<!doctype html>
<html lang={currentLocale}>
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main>
      <h1>{t("home.title")}</h1>
      <p>{t("home.paragraph")}</p>
    </main>
    <Footer />
  </body>
</html>
