---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import BaseHead from "../components/BaseHead.astro";
import type { CollectionEntry } from "astro:content";
import type { UnionLangsType } from "../utils/i18n/i18n";
import FormattedDate from "../components/FormattedDate.astro";
import { useTranslations } from "../utils/i18n/useTranslations";

type Props = CollectionEntry<"projects">["data"];

const currentLocale = Astro.currentLocale! as UnionLangsType;

const { title, description, pubDate, updatedDate, tags } =
	Astro.props;

const t = useTranslations(currentLocale);
---

<html lang={currentLocale}>
	<head>
		<BaseHead title={title} description={description} />
		<style>
			main {
				width: calc(100% - 2em);
				max-width: 100%;
				margin: 0;
			}
			.hero-image {
				width: 100%;
			}
			.hero-image img {
				display: block;
				margin: 0 auto;
				border-radius: 12px;
				box-shadow: var(--box-shadow);
			}
			.prose {
				width: 720px;
				max-width: calc(100% - 2em);
				margin: auto;
				padding: 1em;
				color: rgb(var(--gray-dark));
			}
			.title {
				margin-bottom: 1em;
				padding: 1em 0;
				text-align: center;
				line-height: 1;
			}
			.title h1 {
				margin: 0 0 0.5em 0;
			}
			.date {
				margin-bottom: 0.5em;
				color: rgb(var(--gray));
			}
			.last-updated-on {
				font-style: italic;
			}
		</style>
	</head>
	<body>
		<Header />
		<main>
			<article>
				<div class="prose">
					{tags.map((tag) => <a href={`/${currentLocale}/projects/tags/${tag}/`}>{tag}</a>)}
					<div class="title">
						<div class="date">
							<FormattedDate date={pubDate} />
							{
								updatedDate && (
									<div class="last-updated-on">
										{t("blogPost.lastUpdated") + " "}	
										<FormattedDate date={updatedDate} />
									</div>
								)
							}
						</div>
						<h1>{title}</h1>
						<hr />
					</div>
					<slot />
				</div>
			</article>
		</main>
		<Footer />
	</body>
</html>
