---
import BlogPost from "../../../layouts/BlogPost.astro";
import { type CollectionEntry } from "astro:content";
import { getStaticPathPosts } from "../../../utils/getStaticPathPosts";

export async function getStaticPaths() {
	return await getStaticPathPosts("en");
}
type Props = CollectionEntry<"blog">;

const post = Astro.props;
const { Content } = await post.render();
---

<BlogPost {...post.data}>
	<Content />
</BlogPost>
